POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
AUTH_DB_NAME=authdb
PRODUCT_DB_NAME=productdb
ORDER_DB_NAME=orderdb
PAYMENT_DB_NAME=paymentdb
LOG_DB_NAME=logdb

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MONGODB_USERNAME=
MONGODB_ROOT_PASSWORD=
MONGODB_DATABASE=logdb
MONGODB_HOST=mongodb
MONGODB_PORT=27017

GATEWAY_PORT=5000
AUTH_SERVICE_PORT=5284
PRODUCT_SERVICE_PORT=5103
ORDER_SERVICE_PORT=5150
PAYMENT_SERVICE_PORT=5117
LOG_SERVICE_PORT=5200
SERVICE_INTERNAL_PORT=8080
PRODUCT_SERVICE_HOST=productservice
ORDER_SERVICE_HOST=orderservice
PAYMENT_SERVICE_HOST=paymentservice

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

JWT_KEY=
JWT_ISSUER=AuthService
JWT_AUDIENCE=Dotnet-Microservices
INTERNAL_API_SECRET=internal-secret
PAYSTACK_SECRET_KEY=